<html>
	<head>
		<link href="http://nvd3.org/src/nv.d3.css" rel="stylesheet">
		
		<script src="http://nvd3.org/js/lib/jquery.min.js"></script>
		<script src="http://nvd3.org/js/lib/bootstrap.min.js"></script>
		<script src="http://nvd3.org/lib/d3.v2.js"></script>
		<script src="http://nvd3.org/nv.d3.js"></script>

		<script src="http://nvd3.org/js/data/stream_layers.js"></script>
		<script src="http://nvd3.org/js/page/index.js"></script>
	</head>
	<body>
		<div class="span6">
			<svg id="mainExample" style="height:360px"></svg>
		</div>
	</body>
</html>
