<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sinatra</title>


</head>
	<body>
		<div class="row">
			<div class="span12">
				<%= yield %>
			</div>
		</div><!--/row-->
	</div><!--/content-->
	</body>
</html>
